<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <h2>Form Edit Data Mahasiswa</h2>

            <% if (typeof errors != 'undefined') { %>
                <div class="alert alert-danger fw-bold" role="alert">
                    <ul>
                        <% errors.forEach(error => { %>
                            <li><%= error.msg %></li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>

            <form method="post" action="/mahasiswa/update">
                <input type="hidden" name="oldNama" value="<%= mahasiswa.oldNama || mahasiswa.nama %>" />
                <div class="mb-3">
                  <label for="nama" class="form-label">Nama</label>
                  <input type="text" class="form-control" id="nama" name="nama" value="<%= mahasiswa.nama %>" required />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" value="<%= mahasiswa.email %>" required />
                </div>
                <button type="submit" class="btn btn-primary">Ubah Data Mahasiswa</button>
              </form>
        </div>
    </div>
</div>