<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/profile.png" alt="Rafly Rayhansyah" class="img-thumbnail rounded-circle" width="200">
            <h1 class="displat-4">Rafly Rayhansyah</h1>
            <p class="lead">Mahasiswa | Content Creator</p>
        </div>
    </div>
</div>